body {
    background: rgb(17, 17, 17);
    color: white;

    font-family: 'VT323', monospace;
    font-size: 40px;
}

.akif {
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
}
.layout {
    width: 100%;
  
    display: grid;
    grid:
      "sidebar body" 0fr
      "project1 project1-check" 0fr
      ". ." 0fr
      ". ." 0fr
      ". ." 0fr
      ". ." 0fr
      ". ." 0fr
      ". ." 0fr
      / 8fr 2fr;
    gap: 8px;
  }
  
  .sidebar { grid-area: sidebar; padding-left: 100px;}
  .body { grid-area: body; margin: 0 auto;}
  .projects{padding-left: 100px;}
  .lastproject{padding-bottom: 100px;}
a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: rgba(46, 46, 45, 0.555);

}

.ulist li {
    text-decoration: none;
    display: inline;
    list-style-type: none;
}

.ortala {
    display: flex;
    justify-content: center;
}

.main {

    width: 700px;

}

.ortalayatay {
    display: flex;
    justify-content: center;
    text-align: center;
}

#picture {
    border-radius: 100%;
    border: 4px solid rgba(65, 63, 63, 0.898);
    margin: auto;
    width: 200px;
    height: 200px;
}

.cardmain{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;


}

.social>ul>li {
    margin-left: 3px;
}

@media (min-width: 100px) {


    .ulist li {
        display: block;
    }
   

}

@media (min-width: 463px) {

    .main {
        text-align: center;
    }

    .ulist li {
        display: inline;
    }

}
@media (max-width: 500px) {
  
    .layout{
        width: 100%;
        margin: 0 auto;
    }


    .projects {
        width: auto;
        float: left;
        font-size:25px;
        padding-left: unset;
        margin-left: 15px;
    }

    .projects-check p{
        font-size: 25px;
    }

}
.heart{

    width: 90px;
    height: 60px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 185px;
}
.heart:hover{
    background-color: rgba(46, 46, 45, 0.555);
}
.msa{
    margin: 0 auto;
}

.cards {
   
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 1px;
  }

.card-img-top:hover{
     transition: transform .2s; /* Animation */
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card{
    width: 400px;
    height: 420px;
    text-align: center;
    background-color: black;
    border: 1px solid grey;
}
.card-img-top{
    background-color: white;
}
.card-body{
    font-size: 25px;
    color: white;
}
.btn{
    font-size: 15px;
}
