html,body{
  height: 100%;
}
body {
  background: rgb(17, 17, 17);
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.akif {
  margin-top: 50px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "VT323", monospace;
  color: red;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: rgba(46, 46, 45, 0.555);
}

.ulist li {
  text-decoration: none;
  margin-right: 10px;
  display: inline;
  list-style-type: none;
}

.ortala {
  display: flex;
  justify-content: center;
}

.main {
  width: 700px;
}

.ortalayatay {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#picture {
  border-radius: 100%;
  border: 4px solid rgba(65, 63, 63, 0.898);
  margin: auto;
  width: 200px;
  height: 200px;
}

.cardmain {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
}

.social > ul > li {
  margin-left: 3px;
}
.card-img-top {
  transition: transform 0.5s;
}
@media (min-width: 100px) {
  .ulist li {
    display: block;
  }
  .handshake {
    display: none;
  }
  .card-img-top:hover {
    transition: transform 0s; /* Animation */
    transform: scale(
      0
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .box {
  }
}

@media (min-width: 463px) {
  .main {
    text-align: center;
  }
  .ulist li {
    display: inline;
  }
  .Projects {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .handshake {
    display: unset;
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 0 8px 0 8px;
  }
}
.card-title {
  font-size: 30px;
}
.heart {
  width: 80px;
  height: 70px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 185px;
}
.heart:hover {
  background-color: rgba(46, 46, 45, 0.555);
}
.msa {
  margin: 0 auto;
}

.card-img-top:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card {
  margin: 15px;
  padding: 5px;
  width: 400px;
  height: 420px;
  text-align: center;
  background-color: black;
  border: 1px solid grey;
}
.handshake {
  width: 50px;
  height: 50px;
  padding: 3px;
  margin: 0 8px 0 8px;
}

.card-body {
  font-size: 22px;
  color: white;
}
.btn {
  font-size: 15px;
}

.seemore {
  padding: 50px;
  display: flex;
  justify-content: center;
}
